Smart Gmail Sorter.json
{
  "name": "Smart Gmail Sorter",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -32
      ],
      "id": "73184930-19a7-41bc-806c-a228ad7fa2fb",
      "name": "Gmail (On Email Received)",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "7cmy8Sw1EhLpO0LB",
          "name": "Gmail account 4"
        }
      },
      "notes": "Filter ->Inbox, unread emails\n"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Subject }}",
                    "rightValue": "Urgent",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "671d55ca-5138-45cf-968c-fcc833b63a4b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "af7a968e-8850-423d-8871-833110bf5ad3",
                    "leftValue": "={{ $json.Subject }}",
                    "rightValue": "Meeting",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        128,
        -16
      ],
      "id": "d844ba90-62f5-403b-a8b2-a42ff3b51260",
      "name": "Switch",
      "notesInFlow": true,
      "notes": "Rules: Urgent|Emergency->whatsapp_notify_me, Report|Meetin->save_google_sheet, Fallback->Mark_as_read"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "181j-WNwzdCO-U9wVaG3k6xEeAMzamJuO7u0WCvIA3AM",
          "mode": "list",
          "cachedResultName": "Report | Meeting Emails data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/181j-WNwzdCO-U9wVaG3k6xEeAMzamJuO7u0WCvIA3AM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/181j-WNwzdCO-U9wVaG3k6xEeAMzamJuO7u0WCvIA3AM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender": "={{ $('Gmail (On Email Received)').item.json.From }}",
            "Subject": "={{ $('Gmail (On Email Received)').item.json.Subject }}",
            "Message": "={{ $('Gmail (On Email Received)').item.json.snippet }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -16
      ],
      "id": "d2b9e71c-0820-47d5-a508-b8e2cd7b3583",
      "name": "Email Save Sheet",
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AXEllpAGrBFtDgAS",
          "name": "Google Sheets account 2"
        }
      },
      "notes": "Emails -> Meeting"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        176
      ],
      "id": "51e209e4-fc53-4d5a-b9e8-73250d12b4ca",
      "name": "Mark a message as read",
      "webhookId": "6aab6495-4b97-41a8-8414-0e7658a4a42b",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "Pm9QgDd6ZOHH2e3r",
          "name": "Gmail account 5"
        }
      },
      "notes": "Extra Output"
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "923184915738",
        "textBody": "=⚠️ Urgent Email Alert! \\n\\n From:{{ $('Gmail (On Email Received)').item.json.From }}  \\n Subject: {{ $('Gmail (On Email Received)').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        608,
        -240
      ],
      "id": "466e3ad8-4cc8-4616-acc3-319f3a7eb0aa",
      "name": "Send message",
      "webhookId": "775db109-67e7-44b2-8748-1478db74b96d",
      "credentials": {
        "whatsAppApi": {
          "id": "aSpAdHjoW3qR8xkz",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail (On Email Received)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Save Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3495b5a2-5050-4254-aa8d-2423206ac548",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bda8f2d02e696c407662678688ba1d567cec8f1d397a10bd135279917fdb8c49"
  },
  "id": "j2fqCPBzV0CjqAqS",
  "tags": [
    {
      "updatedAt": "2025-12-26T05:38:55.719Z",
      "createdAt": "2025-12-26T05:38:55.719Z",
      "id": "KbD7ibbuE0T6izyl",
      "name": "gmail"
    },
    {
      "updatedAt": "2025-12-26T05:38:51.241Z",
      "createdAt": "2025-12-26T05:38:51.241Z",
      "id": "LsKoybvJkQuPBZbZ",
      "name": "logic"
    },
    {
      "updatedAt": "2025-12-26T05:38:47.946Z",
      "createdAt": "2025-12-26T05:38:47.946Z",
      "id": "VZ8KPZd1o0JMxlk0",
      "name": "else"
    },
    {
      "updatedAt": "2025-12-26T05:38:44.406Z",
      "createdAt": "2025-12-26T05:38:44.406Z",
      "id": "n6Dz1pYvVfQWRvBa",
      "name": "if"
    }
  ]
}